.video {
  padding: 2px;
  width: 20%;
}
.video > img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .video {
    width: 25%;
  }
}

@media screen and (max-width: 1023px) {
  .video {
    width: 33%;
  }
}

@media screen and (max-width: 767px) {
  .video {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .video {
    width: 100%;
  }
}
