.channel {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.channel img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
